.appear {
  opacity: 1;
  transition: opacity 1s linear;
}

.disapear {
  opacity: 0;
  transition: 2s !important;
  transition-timing-function: linear !important;
}

.blocText {
  background-color: white;
  border-radius: 20px;
  width: 40vw;
  height: 70%;
  position: relative;
  margin: 50px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  font-family: "Roboto", sans-serif;
}
.blocText h1 {
  font-size: 4rem;
}
.blocText p {
  padding: 40px 0px;
}
.page {
  top: 150px;
  position: relative;
}
.presentation {
  background-image: url("/src/assets/images/handicapalecole.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
}

.contexte {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: stretch;
}
.contexte h2 {
  font-size: 6rem;
  padding-top: 80px;
  padding-left: 80px;
}
.contexte p {
  font-size: 1.5rem;
  padding: 80px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

.optionBoxes {
  margin: 0px 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}
.optionBoxe {
  background-color: white;
  height: 250px;
  width: 25%;
  padding: 20px;
  border-radius: 20px;
  z-index: -100;
}

.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.194), rgba(0, 0, 0, 0.838)),
    url("/src/assets/images/Handi1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  color: white;
  padding: 20px 80px;
  font-size: 2rem;
  z-index: 40;
}

.contact h2 {
  font-size: 4rem;
  width: 50rem;
}
.buttonContact {
  padding: 20px;
  background-color: #f7bc08 !important;
  font-size: 1rem !important;
  font-style: normal;
  font-weight: 700;
}
.buttonContact:link {
  color: black;
}
.buttonContact:hover {
  color: white;
}
.PhraseBateau {
  height: 300px;
  background-color: #e5e5e5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PhraseBateau h2 {
}

.basDePage {
  height: 200px;
  background-color: #333333;
}
