.formLog {
  position: relative;
  top: 180px;
  display: flex;
  flex-direction: column;
  /* 
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center; */
  background-color: #f7bc08;
  margin: 0px 360px;
  padding: 40px;
  border-radius: 20px;
}
.formLog form {
  /* display: flex;
  flex-direction: column;
  position: relative; */
}
.formLog label {
  padding: 10px 20px;
}
.formLog input {
  border-radius: 20px;
  border-style: none;

  padding: 10px 8px;
}

.formLog a {
  text-align: center;
}

.formLog a:hover {
  color: white;
}

.buttonCss {
  border-radius: 9px;
  border-style: none;
  background-color: black;
  color: #f7bc08;
  padding: 10px 30px;
  margin: 20px 180px;
}
.buttonCss:hover {
  background-color: white;
  color: black;
  align-items: center;
  justify-items: center;
}
.error {
  padding: 20px;
  text-align: center;
  color: rgb(203, 63, 63);
  font-size: 1.1rem;
  font-weight: 800;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-decoration: none;
  display: inline-block;
  background-size: 120% 100%;

  animation: 1s shake infinite;
}
@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
.cases {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cases.age {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 40px;
}
.cases.descriptions input {
  height: 100px;
}
.cases select {
  padding: 10px;
  border-radius: 20px;
  border-style: none;
}
.cases option {
  text-align: center;
}

.cases p {
  text-align: center;
  padding-top: 30px;
}
.cases a {
  text-align: center;
}

.cases label {
  font-weight: 600;
}
.pictureFile {
}
.pictureFile input {
  /* -webkit-animation-fill-mode: none; */
  border-style: solid;
  border-color: black;
  margin-top: 20px;
}

#category option {
  text-align: center;
}
