.listAssociation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: fit-content;
  flex-wrap: wrap;
}
.displayAss {
  display: flex;
  flex-direction: row;
}

.resultsContainer {
  position: fixed;
  width: 69vw;
  left: 30vw;
}

.carteBorder {
}

.logoMap {
  width: 10px;
}

.displayResults {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;

  position: relative;
  margin: 60px;
}
