.associationSquare {
  position: relative;
  width: 20%;
  height: 300px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.187);
  border-radius: 20px;
  margin-inline: 20px;
  margin-bottom: 40px;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.associationSquare:hover {
  transform: scale(1.01);
  z-index: 1.5;
}

.associationSquare:hover .preview {
  opacity: 9;
  transform: scaleY(1);
}

.preview {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.9);

  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: 0.3s;
  opacity: 0;
  text-align: center;
  font-weight: 600;
}

.text {
  padding: 20px;
  height: 300px;
}

.logoAss {
  width: 80%;
  height: 130px;
  border-radius: 20px;

  padding-top: 9px;
}

.associationSquare > h1 {
  color: #f7bc08;
  padding-bottom: 10px;
  white-space: pre-line;
  margin: 10px;
  font-size: 1.2rem;
}
.associationSquare > h2 {
  color: #999999;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: pre-line;
}
.Description {
  text-align: justify;
  width: 140px;
  white-space: pre-wrap;
}
