.fillButton {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fillButton div {
  --c: #f7bc08;
  color: var(--c);
  font-size: 16px;
  border: 0.1em sodivd var(--c);
  border-radius: 20px;
  border-radius: 1px;
  border-color: #f7bc08;
  border-style: solid;
  width: fit-content;
  /* height: 3em; */
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  padding: 20px;
}

.fillButton div span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.fillButton div:hover {
  color: black;
}

.fillButton div:hover span {
  transform: translateY(0) scale(2);
}

.fillButton div span:nth-child(1) {
  --n: 1;
}

.fillButton div span:nth-child(2) {
  --n: 2;
}

.fillButton div span:nth-child(3) {
  --n: 3;
}

.fillButton div span:nth-child(4) {
  --n: 4;
}

.filtersButton {
  -webkit-appearance: none;
  text-align: center;
  border-style: none;
  background-color: black;
  color: white;
  padding: 10px 70px;
  margin-top: 20px;
  position: relative;
  top: 40px;
  font-weight: bold;
}

.toggleButtons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;

  left: 45px;
  top: 250px;
  z-index: 100;
  width: 30%;
  background-color: none !important;
  color: white;
}
.SearchBar h2 {
  font-size: 2.5rem;
  color: black;
  padding-bottom: 20px;
}
.SearchBar img {
  width: 40px;
}
.button1On {
  text-align: center;
  height: 22px;
  padding: 10px 22px;
  margin: 10px;
  text-decoration: none;
  list-style: none;
  background-color: black;
  border-radius: 50px;
  font-size: 1rem;
  width: 110px;
}
.button1Off {
  padding: 10px 20px;
  height: 20px;
  font-size: 1rem;

  background-color: white;
  color: black;
}

.SearchBar:hover {
  cursor: pointer;
}
.carte {
  margin: 0px 20px 20px 30px;
  border-color: #f7bc08;
  border-style: ridge;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.187);
}
