.SearchBar {
  border-radius: 25px;
  padding: 30px;
  width: 20%;
  height: 464px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  position: fixed;
  left: 80px;
  z-index: 20;
  background-color: #f7bc08;

  visibility: visible;
  opacity: 1;
  transition: opacity 0.2 s linear;
}
.visibility {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.toggleGroup {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
